/* global */
/* http://paletton.com/palette.php?uid=33s0q0ktGi8sEMDkNr8OT6AuJ2c */

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #444A60;
}

body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 80px;
  margin-right: auto;
  font-family: Helvetica, Verdana, Tahoma, Arial, Sans-serif;
  font-size: 1em;
  width: 850px;
  padding: 0px;
}

a {
  color: #4F58C9;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

a.quiet {
  color: inherit;
  text-decoration: none;
}

/* content */

div#content {
  background-color: #E3E5ED;
  border-radius: 0px;
  padding: 10px;
}

/* header */

div#above-sep {
  height: 60px;
  overflow: hidden;
}

h1#chris {
  display: inline;
}

p#email-block {
  font-size: 0.90em;
}

a#unscramble {
  cursor: pointer;
}

ul#links {
  float: right;
  list-style: none;
  display: inline;
  margin-left: 10px;
}

ul#links li {
  display: inline;
  margin-left: 5px;
}

ul#links img {
  width: 40px;
  height: auto;
}

/* sep */

div#sep-placeholder hr {
  padding: 0px;
  border-top: 5px solid #FF0000;
  border-bottom: 0px solid #000000;
  margin-top: 1em;
  margin-bottom: 1em;
}

div#nostring-sep {
  position: absolute;
  left: 80px;
  top: 87px; /* HEADER SENSITIVE */
  background-color: #000000;
  height: 3px; /* JS SENSITIVE */
  width: 820px;
}

div#amod {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 71px; /* HEADER SENSITIVE */
}

div#amod img {
  width: 80px;
  height: auto;
}

div#string-sep {
  position: absolute;
  left: 80px;
}

/* content */

/* intro */

section#intro img {
  width: 160px;
  height: auto;
  margin-right: 50px;
}

section#intro {
  margin-left: 40px;
  margin-right: 40px;
}

/* publications */

section#publications ul {
  list-style: none;
  margin-left: 40px;
}

section#publications ul li {
  margin-bottom: 1em;
}

span.paper-authors {
  display: block;
}

span.paper-title {
  display: block;
  font-weight: bold;
}

span.paper-venue {
  display: block;
}

span.paper-hyperlinks {
  display: block;
  font-size: 0.8em;
}

/* work */

section#work ul {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
}

section#work ul li {
  margin-bottom: 0em;
}

/* media */

section#media ul {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
}

section#media ul li {
  margin-bottom: 0em;
}

/* other */

section#other ul {
  list-style: none;
  margin-left: 40px;
  margin-right: 40px;
}

section#other ul li {
  margin-bottom: 0em;
}

section#media hr {
  width: 75%;
  margin: 4px auto;
}
